<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <style>
        @font-face {
            font-family: "Avenir";
            src: url("http://localhost:3001/avenir-lighter.woff") format("woff");
            font-weight: 300;
        }

        @font-face {
            font-family: "Avenir";
            src: url("http://localhost:3001/avenir-book.woff") format("woff");
            font-weight: 400;
        }

        @font-face {
            font-family: "Avenir";
            src: url("http://localhost:3001/avenir-medium.woff") format("woff");
            font-weight: 500;
        }

        @font-face {
            font-family: "Avenir";
            src: url("http://localhost:3001/avenir-black.woff") format("woff");
            font-weight: 900;
        }

        html, body {
            font-family: "Avenir", serif;
            color: var(--text);
            --wcs-white: #ffffff;
            --wcs-light: #f2f2f2;
            --wcs-gray-light: #4d4f53;
            --wcs-gray: #333;
            --wcs-gray-dark: #343a40;
            --wcs-gray-darker: #212529;
            --wcs-black: black;
            --wcs-text-light: #d7d7d7;
            --wcs-text-disabled: #b9b9b9;
            --wcs-text-medium: #747678;
            --wcs-blue: #0088CE;
            --wcs-purple: #6e1e78;
            --wcs-pink: #a1006b;
            --wcs-red: #cd0037;
            --wcs-orange: #e05206;
            --wcs-yellow: #ffb612;
            --wcs-green: #82be00;
            --wcs-teal: #d2e100;
            --wcs-cyan: #009aa6;
            --primary: var(--wcs-cyan);
            --secondary: var(--wcs-purple);
            --background: var(--wcs-white);
            --text: var(--wcs-gray-darker);
            --text-medium: var(--wcs-text-medium);
        }

        @page :first {
            @bottom-left {
                content: none;
            }
            @top-right {
                content: none;
            }
            @top-center {
                content: none;
            }
            @bottom-center {
                content: none;
            }
            @bottom-right {
                content: none;
            }
        }

        @page {
            size: A4;
            margin: 30mm 20mm 30mm 20mm;
            bleed: 20mm;
            @bottom-left {
                content: element(footerRunningElement);
                padding-bottom: 1cm;
            }
            @top-center {
                content: "Test";
            }
            @bottom-right {
                content: element(coverLogoRunningElement);
            }
            @bottom-center {
                content: "Page " counter(page) " sur " counter(pages);
                font-size: 10pt;
                padding-bottom: 1cm;
            }
        }

        /*Running elements*/
        .footer-service {
            position: running(footerRunningElement);
            font-size: 10pt;
        }

        .cover-logo-right-corner{
            position: running(coverLogoRunningElement);
        }

        h1, h2, h3, h4, h5, h6 {
            color: var(--primary);
        }

        h1 {
            border-bottom: solid 2px var(--primary);
        }

        a {
            color: var(--wcs-blue);
        }

        p {
            text-align: justify;
        }

        .first-page-footer {
            position: running(firstPageFooter);
            font-size: 10pt;
        }

        .footer-service {
            position: running(footerService);
            font-size: 10pt;
        }

        blockquote {
            border-left: solid 4px var(--primary);
            background-color: var(--wcs-light);
            padding: 1px 0.5cm;
        }

        /********************
         *      COVER       *
         ********************/

        .cover {
            page-break-after: always;
        }

        .cover-content {
            margin-top: 8cm;
        }

        .cover-title {
            font-size: 42px;
            text-transform: uppercase;
            font-weight: 700;
            color: var(--primary);
        }

        .cover-subtitle {
            font-size: 30px;
            color: var(--primary);
        }

        .cover-logo {
            width: 2cm;
            margin-bottom: 1cm;
        }

        .cover-footer {
            text-align: center;
            position: absolute;
            bottom: 1cm;
            width: 100%;
        }

        table.blueTable {
            border: 1px solid var(--wcs-gray-dark);
            background-color: var(--wcs-light);
            width: 100%;
            text-align: left;
            border-collapse: collapse;
        }
        table.blueTable td, table.blueTable th {
            border: 1px solid var(--wcs-black);
            padding: 20px;
        }
        table.blueTable tr:nth-child(even) {
            background: #D0E4F5;
        }
        table.blueTable thead {
            background: var(--wcs-blue);
            border-bottom: 2px solid #444444;
        }
        table.blueTable thead th {
            font-weight: bold;
            color: #FFFFFF;
            border-left: 2px solid #D0E4F5;
        }
        table.blueTable thead th:first-child {
            border-left: none;
        }
    </style>
</head>
<body>
<div class="footer-service">
    <span style="color: var(--wcs-green); font-weight: bold;">e.</span><span
        style="color: var(--wcs-cyan)">SNCF / D2D</span>
</div>
<div class="cover-logo-right-corner">
    <img src="http://localhost:3001/logoSncf.png" class="cover-logo"  alt="">
</div>
<div class="first-page-footer">
    <span style="color: var(--wcs-green); font-weight: bold;">e.</span><span
        style="color: var(--wcs-cyan)">SNCF / Direction Design & Développement</span>
</div>
<div class="cover">
    <div class="cover-content">
        <div class="cover-title">Pas de titre</div>
        <div class="cover-subtitle">Pas de sous-titre</div>
    </div>
    <div class="cover-footer">
        <span style="color: var(--wcs-green); font-weight: bold;">e.</span><span style="color: var(--wcs-cyan)">SNCF / Direction Design & Développement</span>
    </div>
</div>
<div class="content">
    <article>
        <h1>I. Blabla</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
        </p>
    </article>
    <article>
        <h2>I.1 Blablabla</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
        </p>
    </article>
    <article>
        <h3>I.1.a) Blablabla</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
        </p>
    </article>
    <article>
        <h3>I.1.b) Blablabla</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam culpa cupiditate eligendi explicabo
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
            inventore iste magni maxime, nostrum odio pariatur quibusdam quisquam ratione sit ut. Dolorem optio quidem sequi?
        </p>
        <table class="blueTable">
            <thead>
            <tr>
                <th>head1</th>
                <th>head2</th>
                <th>head3</th>
                <th>head4</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>cell1_1</td>
                <td>cell2_1</td>
                <td>cell3_1</td>
                <td>cell4_1</td>
            </tr>
            <tr>
                <td>cell1_2</td>
                <td>cell2_2</td>
                <td>cell3_2</td>
                <td>cell4_2</td>
            </tr>
            <tr>
                <td>cell1_3</td>
                <td>cell2_3</td>
                <td>cell3_3</td>
                <td>cell4_3</td>
            </tr>
            <tr>
                <td>cell1_4</td>
                <td>cell2_4</td>
                <td>cell3_4</td>
                <td>cell4_4</td>
            </tr>
            <tr>
                <td>cell1_5</td>
                <td>cell2_5</td>
                <td>cell3_5</td>
                <td>cell4_5</td>
            </tr>
            <tr>
                <td>cell1_6</td>
                <td>cell2_6</td>
                <td>cell3_6</td>
                <td>cell4_6</td>
            </tr>
            <tr>
                <td>cell1_7</td>
                <td>cell2_7</td>
                <td>cell3_7</td>
                <td>cell4_7</td>
            </tr>
            <tr>
                <td>cell1_8</td>
                <td>cell2_8</td>
                <td>cell3_8</td>
                <td>cell4_8</td>
            </tr>
            <tr>
                <td>cell1_9</td>
                <td>cell2_9</td>
                <td>cell3_9</td>
                <td>cell4_9</td>
            </tr>
            <tr>
                <td>cell1_10</td>
                <td>cell2_10</td>
                <td>cell3_10</td>
                <td>cell4_10</td>
            </tr>
            <tr>
                <td>cell1_11</td>
                <td>cell2_11</td>
                <td>cell3_11</td>
                <td>cell4_11</td>
            </tr>
            <tr>
                <td>cell1_12</td>
                <td>cell2_12</td>
                <td>cell3_12</td>
                <td>cell4_12</td>
            </tr>
            </tbody>
        </table>
    </article>
</div>
</body>
</html>